body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

header {
  background-color: #379683;
}

.header-container {
  display: flex;
  align-items: center;
  width: 1160px;
  max-width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  gap: 50px;
}

header svg {
  width: 100px;
  max-width: 100%;
  color: lightcyan;
}

header nav {
  display: flex;
  margin-right: auto;
  gap: 50px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header-container button {
  font-family: Lato;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.hero {
  background-color: #f2f2f2;
  padding: 60px 0;
}

.hero .container {
  width: 1160px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.hero .container h1 {
  font-size: 48.83px;
  margin: 0 20px 0 0;
}

.hero .container h3 {
  color: #303030;
  font-weight: 400;
}

.contact-section .container {
  max-width: 1160px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-1 {
  display: flex;
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
}

.info-wrap {
  background: #01d28e !important;
  padding: 3rem !important;
  color: white;
}

.icon-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-info svg {
  width: 30px;
  height: 30px;
}

.social-icons-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.fa {
  padding: 0px;
  font-size: 30px !important;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.column-2 {
  display: flex !important;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.form-wrap {
  padding: 3rem !important;
  width: 100% !important;
}

.column-double {
  flex: 0 0 50%;
  max-width: 50%;

  width: 100%;
  position: relative;
}

.column {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

.form-group {
  margin-bottom: 2rem;
  padding-right: 15px;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  height: 30px;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(197, 197, 197);
  border-style: solid;
}

textarea {
  height: 60px;
  border-width: 1px;
  border-radius: 5px;
  font-family: Lato;
  border-color: rgb(197, 197, 197);
}

.submit-button {
  background: #01d28e !important;
  border-color: #01d28e !important;
  color: #fff;
  font-size: 14px;
  height: 50px;
  max-width: 20%;
}
