body {
  /* set default background color */
  background-color: yellow;
}

@media (max-width: 640px) {
  /* 
    - show mobile div
    - hide tablet and desktop divs
  */
  .mobile {
    display: block;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  body {
    background-color: red;
  }
}

@media (min-width: 640px) {
  /*
    - show tablet div
    - hide mobile and desktop divs
    - change background color
  */
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }

  body {
    background-color: green;
  }
}

@media (min-width: 1024px) {
  /*
    - show desktop div
    - hide mobile and tablet divs
    - change background color
  */
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }

  body {
    background-color: blue;
  }
}
